<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>SURVEY FORM</h1>
    <form class="outline" action="/result" method="post">
		<p>Your Name: </p>
		<input class="inputs" type="text" name="name" />
		<p>Dojo Location: </p>
		<select class="inputs" name="location">
			<option value="Mountain View">San Jose</option>
			<option value="Bellevue">Los Angeles</option>
		</select>
		<p>Favorite Language: </p>
		<select class="inputs" name="language">
			<option value="Node">Node</option>
			<option value="JavaScript">JavaScript</option>
			<option value="Express">Express</option>
		</select>
		<p>Comment (optional): </p>
		<textarea class="inputs" name="comment"></textarea>
		<input class="button" type="submit" value="Submit">
    </form>
</body>
</html>